div form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#eroareTitlu,
#eroareDescriere{
    color: red;
    font-weight: bold;
    margin: 0;
}
#eroareTitlu{
    margin-top: 10px;
}

#erori{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

